:root {
  --main-color: #0572ec;
  --secondary-color: #034ea6;
  --disable-color: #4c5d74;

  --main-bg-color: #10365a;
  --main-white-color: #ffffff;

  --standard-font-size: 22px;
  --big-font-size: 26px;

  --small-spacing: 10px;
  --medium-spacing: 15px;
  --big-spacing: 20px;

  --medium-border-radius: 6px;
}
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: var(--standard-font-size);
  color: var(--main-white-color);
  background-color: var(--main-bg-color);
}
.main-container {
  min-height: 100vh;
  padding: 0 var(--small-spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generated-password-container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#password-generator-display-field {
  padding: var(--medium-spacing);
  margin: var(--medium-spacing) 0;
  border-radius: var(--medium-border-radius);
  color: black;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: var(--big-font-size);
  background-color: var(--main-white-color);
  user-select: none;
}
#inner-password-field {
  overflow: hidden;
  white-space: nowrap;
}
.copy-password-btn {
  width: 150px;
  margin-bottom: var(--medium-spacing);
  padding: var(--medium-spacing);
  border: none;
  border-radius: var(--medium-border-radius);
  color: inherit;
  align-self: center;
  font-size: var(--big-font-size);
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.5s ease;
}
.copy-password-btn:hover {
  background-color: var(--secondary-color);
}

.password-settings {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.length-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.length-settings-title {
  display: flex;
  gap: 10px;
}
.length-settings-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-minus,
.button-plus {
  width: 40px;
  height: 40px;
  margin: 0 var(--medium-spacing);
  border: none;
  border-radius: var(--medium-border-radius);
  color: inherit;
  font-size: var(--standard-font-size);
  background-color: var(--main-color);
  cursor: pointer;
}
.button-minus:hover,
.button-plus:hover {
  background-color: var(--secondary-color);
}

button:disabled {
  background-color: var(--disable-color);
  cursor: no-drop;
}
button:disabled:hover {
  background-color: var(--disable-color);
}

.complexity-settings {
  margin-top: var(--medium-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.complexity-settings label {
  cursor: pointer;
  user-select: none;
}
.checkbox-container {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-left: var(--medium-spacing);
  margin-right: var(--small-spacing);
  accent-color: var(--main-color);
  cursor: pointer;
}
input[type="checkbox"]:disabled {
  cursor: no-drop;
}
.lang-settings {
  margin-top: var(--medium-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

button[lang-selector] {
  width: 50px;
  height: 34px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.2s;
}
button[lang-selector]:hover {
  transform: scale(1.1);
}
button[lang-selector="en"] {
  background-image: url("./assets/flag-gb.svg");
}
button[lang-selector="ua"] {
  background-image: url("./assets/flag-ua.svg");
}

@media (max-width: 650px) {
  h1 {
    margin-top: 0px;
    font-size: 38px;
    text-align: center;
  }
  .generated-password-container {
    max-width: 90%;
  }
  .length-settings {
    flex-direction: column;
  }
  .complexity-settings {
    flex-direction: column;
    align-items: initial;
  }
  .complexity-settings > span {
    margin-bottom: var(--small-spacing);
  }
  input[type="checkbox"] {
    margin-left: 20%;
  }
}
