html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #0a2d4d;
  color: #fff;
}

.container {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}
.generated-password {
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.generated-label {
  font-size: 22px;
  margin-bottom: 8px;
}
.generated-input {
  padding: 16px;
  margin-bottom: 16px;
  font-size: 26px;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 2px;
  outline: none;
}
.generated-copy {
  align-self: center;
  max-width: 150px;
  padding: 16px 26px;
  margin-bottom: 16px;
  font-size: 26px;
  border: none;
  background-color: #0572ec;
  border-radius: 6px;
  color: #fff;
}
.generated-copy:hover {
  background-color: #034ea6;
}
.generated-copy:active {
  color: #d1d6dbcf;
}

.password-settings {
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.length-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-minus,
.button-plus {
  margin: 0 15px;
  background-color: #0572ec;
  border-radius: 6px;
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 22px;
}
.button-minus:hover,
.button-plus:hover {
  background-color: #034ea6;
}
#password-range {
  height: 100%;
}

.complexity-settings {
  display: flex;
  justify-content: space-between;
}
